.document.tex.RenameVariable-backup
.project
.texlipse
document.fdb_latexmk
document.fls
document.nlo
document.nls
document.pdf
macros/.notation.tex.RenameVariable-backup
tmp/document.aux
tmp/document.ilg
tmp/document.log
tmp/document.out
tmp/document.toc
solutions.aux
solutions.fdb_latexmk
solutions.fls
solutions.log
solutions.out
solutions.pdf
.fignames.temp
document.tex.bu
document.aux
document.log
document.out
document.toc
document.bbl
document.blg
document.synctex.gz
chapter-1.bbl
chapter-1.nlo
chapter-10.bbl
chapter-10.nlo
chapter-2.bbl
chapter-2.nlo
chapter-3.bbl
chapter-3.nlo
chapter-4.bbl
chapter-4.nlo
chapter-5.bbl
chapter-5.nlo
chapter-6.bbl
chapter-6.nlo
chapter-7.bbl
chapter-7.nlo
chapter-8.bbl
chapter-8.nlo
chapter-9.bbl
chapter-9.nlo
transparencies
