.document.tex.RenameVariable-backup
.project
.texlipse
document.fdb_latexmk
document.fls
document.nlo
document.nls
document.pdf
macros/.notation.tex.RenameVariable-backup
tmp/document.aux
tmp/document.ilg
tmp/document.log
tmp/document.out
tmp/document.toc
solutions.aux
solutions.fdb_latexmk
solutions.fls
solutions.log
solutions.out
solutions.pdf
.fignames.temp
document.tex.bu
document.aux
document.log
document.out
document.toc
document.bbl
document.blg
document.synctex.gz
